.wrapper{
	width: 100%
}

.header{
	height: 720px;
	background-image: url('../images/header2.jpg');
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

.content{
	width: 960px;
	min-height: 100px;
	display: flow-root;
	margin: 20px auto 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.content h2{
	font-family:  'Asap', sans-serif;
	font-size: 28pt;
	line-height: 40px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;	
    margin-bottom: 15px;
}

.content h3{
	font-family:  'Asap', sans-serif;
	font-size: 20pt;
	line-height: 32px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.content a{
	text-decoration: none;
}

.column-left{
	width: 45%;
	float: left;
	padding: 0 10px 0 0;
}

.column-right{	
    width: 45%;
	float: right;
	padding: 0 0 0 10px
}

.column-left p, .column-right p{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #7b7b7b;
	text-align: left;
	letter-spacing: 1px;	
}

.link{
	width: 100%;
	float: left;
	overflow: auto;
}

.link a{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
	text-decoration: none;
}

.text-highlight{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
	float: left;
	margin: 35px 0 0;
}

.logofemama{
	width: 365px;
	margin: 40px auto;
}

.line-divisor{
	clear: both;
	width: 100%;
}

.heart{
    width: 100%;
}

.footer{
	width: 100%;
	min-height: 550px;
	background-image: url('../images/bg_rosa.png');
	background-size: cover;
	background-position: 50% 0px;
	position: relative;
	padding: 50px 0 10px;
	margin-top: -80px;
}

.box{
	width: 263px;
	height: 410px;
	background-color: #fff;
	margin-top: 10px; 
	float: left;
	margin-left: 50px;
}

.box:last-child{
	margin-right: 0;
}

.box img.tag{
	position: relative;
	left: 205px;
	top: 6px;
}

.box img.product{
	width: 250px;
	margin: 130px 10px 20px; 
}

.box p{
	font-family:  'Asap', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #433d2f;
	text-align: center;
	letter-spacing: 0px;
}

.box div.price{
	font-family:  'Asap', sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #af0d0b;
	text-align: center;
	letter-spacing: 0px;
}

.box div.division{
	font-family:  'Asap', sans-serif;
	font-size: 10px;
	line-height: 13px;
	color: #433d2f;
	text-align: center;
	letter-spacing: 0px;
}

.obs{
	font-family:  'Asap', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #e76d86;
	text-align: left;
	letter-spacing: 1px;
	padding-top: 50px;
}

@media (max-width: 991px){
	.header{
		height: 1136px;
		background-image: url('../images/header_mobile_960px	.jpg');
		margin-bottom: 30px;
	}
	.content{
		width: 760px;
	}
	.box{
		margin-left: 80px;
	}
}

@media (max-width: 767px){
	.content{
		width: 520px;
	}

	.logofemama{
		width: 280px;
		margin: 20px auto;
	}

	.box{
		width: 200px;
		height: 300px;
		margin-left: 30px;
	}

	.box:last-child{
		margin-right: 0;
	}

	.box img.tag{
		position: relative;
		left: 142px;
		top: 6px;
	}

	.box img.product{
		width: 180px;
		margin: 70px 10px 20px; 
	}
	.column-left{
		width: 100%;
    	margin-bottom: 15px;
	}

	.column-right{
		width: 100%;
		margin-bottom: 15px;
	}

	.obs{
		clear: both;
	}
}

@media (max-width: 479px){
	.header{
		height: 568px;
		background-image: url('../images/header_mobile_480px.jpg');
		margin-bottom: 30px;
	}
	.content{
		width: 450px;
	}
	.column-left{
    	margin-bottom: 10px;
	}

	.column-right{
		margin-bottom: 10px;
	}

}

@media (max-width: 320px){
	.content{
		width: 300px;
	}
	
}
