.wrapper{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	width: 1170px
}

.header{
	height: 720px;
	background-image: url('../images/header2.jpg');
	background-size: auto;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

.content{
	min-height: 100px;
	display: flow-root;
	margin: 20px auto 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.content h2{
	font-family:  'Asap', sans-serif;
	font-size: 28pt;
	line-height: 32px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;	
    margin-bottom: 15px;
}

.content h3{
	font-family:  'Asap', sans-serif;
	font-size: 20pt;
	line-height: 24px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
}

.content a{
	text-decoration: none;
}

.column-left{
	width: 50%;
	float: left;
}

.column-right{	
    width: 47%;
	float: right;
}

.column-left p, .column-right p{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #7b7b7b;
	text-align: left;
	letter-spacing: 1px;	
    margin-top: 30px;
}

.column-left a, .column-right a{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
	text-decoration: none;
}

.text-highlight{
	font-family:  'Asap', sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #CF6F85;
	text-align: left;
	letter-spacing: 1px;
	float: left;
	margin: 35px 0;
}

.line-divisor{
	width: 100%;
	clear: both;
	margin-bottom: 49px;
}

.heart{
	margin-top: -40px;
    float: right;
    width: 80px;
}

.heart2{
	margin-top: -40px;
    float: left;
    width: 80px;
}

.footer{
	max-width: 1920px;
	min-height: 550px;
	background-image: url('../images/bg_rosa.png');
	background-position: 50% 0px;
	position: relative;
	z-index: 8;
	padding: 40px 0 10px;
}

.box{
	width: 263px;
	height: 410px;
	background-color: #fff;
	margin-top: 10px; 
	float: left;
	margin-left: 88px;
}

.box:last-child{
	margin-right: 0;
}

.box img.tag{
	position: relative;
	left: 205px;
	top: 6px;
}

.box img.product{
	width: 250px;
	margin: 130px 10px 20px; 
}

.box p{
	font-family:  'Asap', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #433d2f;
	text-align: center;
	letter-spacing: 0px;
}

.box div.price{
	font-family:  'Asap', sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #af0d0b;
	text-align: center;
	letter-spacing: 0px;
}

.box div.division{
	font-family:  'Asap', sans-serif;
	font-size: 10px;
	line-height: 13px;
	color: #433d2f;
	text-align: center;
	letter-spacing: 0px;
}

.obs{
	font-family:  'Asap', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #e76d86;
	text-align: left;
	letter-spacing: 1px;
	padding-top: 50px;
}

@media (max-width: 1200px){
	.header{
		background-image: url('../images/header_mobile_960px.jpg');
		height: 1140px;
	}
	.wrapper{
	    width: 970px;
	}
	.box{
		margin-left: 36px;
	}
}

@media screen and (max-width: 699px){
	.header{
	    background-image: url('../images/header_mobile_480px.jpg');
	    height: 590px;
	}

	.content{
		width: 550px;
	}
	.column-left{
		width: 100%;
		float: left;
    	margin-bottom: 13px;
	}

	.column-right{
		width: 100%;
	}
	.wrapper{
	    width: 550px;
	}
	
}